*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}


.rightContainer{
    display: flex;
    /* position: relative; */
}

.container{
    background-color: #f5f5f5;
    max-width: 360px;
    height: 100vh;
    padding: 40px;
    width: 100%;
}
.dummy {
    width: 100%;
    height: 100vh;
    /* height: 100%; */
}
.fixed{
    position: fixed;
}

.navbar{
    background-color: #000000;
    height: 100%;
    /* position: fixed; */
    width: 100%;
    max-width: 280px;
    border-radius: 40px;
    color: white;
}
.options{
    padding: 60px 50px 60px 50px;
    height: 100%;
}
.logo{
    font-size: 2rem;
    /* font-size: 36px; */
    font-weight: 700;
    /* padding-bottom: 60px; */
}
.logoS{
    display: none;
}
.links{
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    padding-top: 60px;
}
.mainLinks{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;
    font-size: 18px;
    font-weight: 400;
}

.subLinks{
}

.link{
    display: flex;
}

.linkIcon{
    margin-right: 20px;
}
.linkText{

}

.sl{
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat";
    color: #ffffff;
}
.sl:nth-child(1){
    padding-bottom: 20px;
}

.hyperlink{
    margin-top: 30px;
    text-decoration: none;
    color: inherit;
}
.hyperlink:nth-child(1){
    margin-top: 0px;
    font-weight: 700;
}


@media (max-width: 650px) {
    .container{
        padding: 20px;
        width: auto;
    }
    .dummy{
        padding: 20px;
        background-color: red;
    }
    .navbar{
        border-radius: 20px;
    }
    .options{
        padding: 30px 20px 30px 20px;
    }
    .link{
        display: flex;
        justify-content: center;
    }
    .linkIcon{
        margin-right: 0px;
    }
    .linkText{
        display: none;
    }
    .logo{
        display: none;
    }
    .logoS{
        display: flex;
        justify-content: center;
    }
    .sl{
        font-size: 12px;
    }
}

@media (max-width: 450px) {
 .container{
    display: none;
 }
 .dummy{
    display: none;
 }
 .rightContainer{
    height: 100vh;
 }

}